/* BUTTONS */
#sign-in-btn {
    -fx-background-color: #EDEDED;
    -fx-background-radius: 50px;
}

#sign-in-btn:hover {
    -fx-background-color: #F4A261;
}

#go-back-btn:hover {
    -fx-background-color: #E76F51;
}